# Don’t commit the following files and directories created by pub and dart2js
packages
packages/
example/packages
example/packages/
example/define/packages
example/define/packages/
example/item_renderers/packages
example/item_renderers/packages/
example/orm_domain/packages
example/orm_infrastructure/packages/
test/packages
test/packages/
*.js_
*.js.deps
*.js.map
*.dart.js
out.js
out.js.map
out
web/packages
web/packages/
web/docs
web/docs/
test/packages
test/packages/
*.lock
*.scc

# Exclude pubspec when developing library packages
# pubspec.lock